**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['age'].value_counts()

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['age'].mean()

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2JIORnq',delimiter='|',index_col=0)
users['occupation'].value_counts()

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
users['item_price']=users['item_price'].str.replace('$',' ')
users['item_actual_price']=users['item_price'].astype(float)/users['quantity']
users.drop_duplicates(subset='item_name', keep='first', inplace=False)
users

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
users['item_price']=users['item_price'].str.replace('$',' ')
users['item_actual_price']=users['item_price'].astype(float)/users['quantity']
result = users.sort_values('item_actual_price', ascending=False)
result.drop_duplicates(subset='item_name', keep='first',inplace=True)
result[:3]

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
x=users['item_name'].value_counts()
print("Veggie Salad Bowl has been ordered",x['Veggie Salad Bowl'],"times")

In [0]:
import pandas as pd
users=pd.read_csv('https://bit.ly/2UUomN0',delimiter='\t')
#users=df.where(df['item_name']=='Canned Soda')
x=users.where(users['quantity']>1)

print("Canned Soda has been ordered",x['Canned Soda'],"times")
#users.where(users['item_name']=='Canned Soda',inplace=True)

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
df

In [0]:
list_1=['sepal_length','sepal_width','petal_length','petal_width','class']
bool_series = pd.isnull(df[list_1])  
df[bool_series]

In [0]:
del df['class']
df

In [0]:
#4. Set the values of the rows 10 to 29 of the column 'petal_length' to NaN
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','class']
df['petal_length'][10:29]='NaN'
df[9:30]

In [0]:
#5. Delete the rows that have NaN
df=pd.read_csv('https://bit.ly/1N5br3h',delimiter=',')
list_1=['sepal_length','sepal_width','petal_length','petal_width','class']
df.columns=list_1
df.drop

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [0]:
#Assign it to a variable called drinks.
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh',delimiter=',')
drinks

In [0]:
#Which continent drinks more beer on average?
most_servings=drinks.groupby(by='continent').mean().sort_values('beer_servings',ascending=False)
most_servings[:1]

In [0]:
#For each continent print the statistics for wine consumption
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh',delimiter=',')
wine_data=drinks.groupby(by='continent').describe()
wine_data['wine_servings']

In [0]:
#Display the mean alcohol consumption per continent for every column.
most_servings

In [0]:
#Display the median alcohol consumption per continent for every column.
most_alcohol=drinks.groupby(by='continent').median().sort_values('total_litres_of_pure_alcohol',ascending=False)
most_alcohol['total_litres_of_pure_alcohol']

In [0]:
#Display the mean, min and max values for spirit consumption
import pandas as pd
drinks=pd.read_csv('https://bit.ly/2CudMVh',delimiter=',')
spirit_data=drinks['spirit_servings']
spirit_data.describe()[['min','max','mean']]