**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
import pandas as pd
users=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep=',',delimiter='|').set_index('user_id')
users

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [0]:
min_age=users['age'].min()
min_age

7

In [0]:
mean_age=users['age'].mean()
mean_age

34.05196182396607

In [0]:
frequent_occ=users['occupation'].max()
frequent_occ

'writer'

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
import pandas as pd
import numpy as np

z=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep='\t')

z['item_price'] = z['item_price'].map(lambda x: float(x.strip()[1:]))
print(z.iloc[z.item_price.argmax()])

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  import sys

In [0]:
frequency = z[z["item_name"]=='Veggie Salad Bowl'].sum()
display(frequency['quantity'])

18

In [0]:
frequency_2=z[z["item_name"] == 'Canned Soda'].groupby('item_name')['order_id'].value_counts().sum()
display(frequency_2)

104

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [10]:
import pandas as pd
import numpy as np

i=pd.read_csv('https://bit.ly/1N5br3h',sep=',',header=None)
i=i.set_axis(['sepal_length','sepal_width','petal_length','petal_width','class'],axis=1,inplace = False)
i.isnull().any()
i1=i.drop("class", axis=1)
i1.iloc[10:30, -2]=np.NaN
i2=i1.dropna(axis=0, inplace=True)
print(i2)
i1.reset_index()

None

     index  sepal_length  sepal_width  petal_length  petal_width
0        0           5.1          3.5           1.4          0.2
1        1           4.9          3.0           1.4          0.2
2        2           4.7          3.2           1.3          0.2
3        3           4.6          3.1           1.5          0.2
4        4           5.0          3.6           1.4          0.2
..     ...           ...          ...           ...          ...
125    145           6.7          3.0           5.2          2.3
126    146           6.3          2.5           5.0          1.9
127    147           6.5          3.0           5.2          2.0
128    148           6.2          3.4           5.4          2.3
129    149           5.9          3.0           5.1          1.8

[130 rows x 5 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [18]:
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
more_avg_beer=drinks.groupby('continent').beer_servings.mean()
more_avg_beer.head(1)

continent
AF    61.471698
Name: beer_servings, dtype: float64

In [12]:
drinks.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [13]:
drinks.groupby('continent').total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [14]:
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [15]:
drinks.spirit_servings.mean()

80.99481865284974

In [16]:
drinks.spirit_servings.min(axis=0)

0

In [17]:
drinks.spirit_servings.max(axis=0)

438