**Lab 1**

Using the dataset at https://bit.ly/2JIORnq
1. Assign it to a variable called users and use the 'user_id' as index
2. What is the age with least occurrence?
3. What is the mean age of users?
4. What is the most frequent occupation?

In [0]:
# Assign it to a variable called users and use the 'user_id' as index.
import pandas as pd
import numpy as np
users= pd.read_csv('https://bit.ly/2JIORnq', delimiter='|')
print(users)

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

In [0]:
# Assign it to a variable called users and use the 'user_id' as index.
import pandas as pd
import numpy as np
users= pd.read_csv('https://bit.ly/2JIORnq', delimiter='|')
print(users)
users.set_index('user_id')

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

In [0]:
# What is the age with least occurrence?
import pandas as pd
import numpy as np
user= pd.read_csv('https://bit.ly/2JIORnq', delimiter='|')
users.age.value_counts()

30    39
25    38
22    37
28    36
27    35
      ..
11     1
10     1
73     1
66     1
7      1
Name: age, Length: 61, dtype: int64

In [0]:
# What is the mean age of users?
import pandas as pd
import numpy as np
user= pd.read_csv('https://bit.ly/2JIORnq', delimiter='|')
users.age.mean()

34.05196182396607

In [0]:
# What is the most frequent occupation?
import pandas as pd
import numpy as np
user= pd.read_csv('https://bit.ly/2JIORnq', delimiter='|')
user.occupation.value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
salesman          12
lawyer            12
none               9
doctor             7
homemaker          7
Name: occupation, dtype: int64

**Lab 2**

Dataset: https://bit.ly/2UUomN0
1. What is the price of each item?
2. What was the quantity of the most expensive item ordered?
3. How many times were a Veggie Salad Bowl ordered?
4. How many times people ordered more than one Canned Soda?

In [0]:
# What is the price of each item?
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0', delimiter ='\t')
print(load[['item_name', 'item_price']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

In [0]:
# What was the quantity of the most expensive item ordered?
import pandas as pd
import numpy as np
user=pd.read_csv('https://bit.ly/2UUomN0', delimiter='\t')
print(user[['item_name', 'item_price']])
user['item_price']=user['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=user.sort_values(by='item_price', ascending=False)
print(mostexp)

print('\n \n \n Most Expensive Item Quantity')
print(mostexp[['quantity', 'item_name']])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



 Most Expensive Item Quantity
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa
3480         3                 Carnitas Bowl
1254         4               Chicken Burrito
3602         4               Chicken Burrito
3601         3                Veggie Burrito
...        ...                           ...
3936         1                   Canned Soda
2922         1                 Bottled Water
1396         1                   Canned Soda
2562         1                   Canned Soda
1457         1                   Canned Soda

[4622 rows x 2 columns]

In [0]:
# How many times were a Veggie Salad Bowl ordered?
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0', delimiter='\t')
print(load[['item_name','item_price']])
load['item_price']=load['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=load.sort_values(by='item_price',ascending=False)
print(mostexp)
print('\n\n\nMost expensive item Quantity')
print(mostexp[['quantity','item_name']])
vsb=list(load.item_name)

print("\n\n\n Veggie Salad Bowl ordered following times")
print(vsb.count("Veggie Salad Bowl"))

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



Most expensive item Quantity
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa
3480         3                 Carnitas Bowl
1254         4               Chicken Burrito
3602         4               Chicken Burrito
3601         3                Veggie Burrito
...        ...                           ...
3936         1                   Canned Soda
2922         1                 Bottled Water
1396         1                   Canned Soda
2562         1                   Canned Soda
1457         1                   Canned Soda

[4622 rows x 2 columns]



 Veggie Salad Bowl ordered following times
18

In [0]:
u# how many times people ordered more than one Canned Soda?
import pandas as pd
import numpy as np
load=pd.read_csv('https://bit.ly/2UUomN0', delimiter='\t')
print(load[['item_name','item_price']])
load['item_price']=load['item_price'].map(lambda x: float(x.strip()[1:]))
mostexp=load.sort_values(by='item_price',ascending=False)
print(mostexp)
print('\n\n\nMost expensive item Quantity')
print(mostexp[['quantity','item_name']])
vsb=list(load.item_name)
print("\n\n\n Veggie Salad Bowl ordered following times")
print(vsb.count("Veggie Salad Bowl"))
soda1 = load[(load['item_name'] == 'Canned Soda') & (load['quantity'] > 1)]
print(soda1)
print("\n\n\n\n\nPeople ordered more than one Canned Soda")
print(soda1.shape[0])

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]
      order_id  ...  item_price
3598      1443  ...       44.25
3480      1398  ...       35.25
1254       511  ...       35.00
3602      1443  ...       35.00
3601      1443  ...       33.75
...        ...  ...         ...
3936      1578  ...        1.09
2922      1162  ...        1.09
1396       567  ...        1.09
2562      1014  ...        1.09
1457       591  ...        1.09

[4622 rows x 5 columns]



Most expensive item Quantity
      quantity                     item_name
3598        15  Chips and Fresh Tomato Salsa
3480         3                 Carnitas Bowl
1254         4               Chicken Burrito
3602         4               Chicken Burrito
3601         3                Veggie Burrito
...        ...                           ...
3936         1                   Canned Soda
2922         1                 Bottled Water
1396         1                   Canned Soda
2562         1                   Canned Soda
1457         1                   Canned Soda

[4622 rows x 2 columns]



 Veggie Salad Bowl ordered following times
18

**Lab 3**

Dataset: https://bit.ly/1N5br3h
1. Assign Columns for the dataset 
2. Is there any missing value in the dataframe?
3. delete the column class
4. set the values of the rows 10 to 29 of the column 'petal_length' to NaN
5. Delete the rows that have NaN
6. Reset the index so it begins with 0 again
7. BONUS: Create & Answer your own question

In [0]:
# Assign Columns for the dataset.
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower

     sepal_length  sepal_width  petal_width           class
5.1           3.5          1.4          0.2     Iris-setosa
4.9           3.0          1.4          0.2     Iris-setosa
4.7           3.2          1.3          0.2     Iris-setosa
4.6           3.1          1.5          0.2     Iris-setosa
5.0           3.6          1.4          0.2     Iris-setosa
..            ...          ...          ...             ...
6.7           3.0          5.2          2.3  Iris-virginica
6.3           2.5          5.0          1.9  Iris-virginica
6.5           3.0          5.2          2.0  Iris-virginica
6.2           3.4          5.4          2.3  Iris-virginica
5.9           3.0          5.1          1.8  Iris-virginica

[150 rows x 4 columns]

In [0]:
# Is there any missing value in the dataframe?
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
flower.isnull().any()

sepal_length    False
sepal_width     False
petal_width     False
class           False
dtype: bool

In [0]:
# delete the column class.
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
c=flower.drop(['class'], axis=1)
c

     sepal_length  sepal_width  petal_width
5.1           3.5          1.4          0.2
4.9           3.0          1.4          0.2
4.7           3.2          1.3          0.2
4.6           3.1          1.5          0.2
5.0           3.6          1.4          0.2
..            ...          ...          ...
6.7           3.0          5.2          2.3
6.3           2.5          5.0          1.9
6.5           3.0          5.2          2.0
6.2           3.4          5.4          2.3
5.9           3.0          5.1          1.8

[150 rows x 3 columns]

In [0]:
# Set the values of the rows 10 to 29 of the column 'petal_length' to NaN.
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
flower.iloc[10:30, -2]=np.NaN
flower.head(40)

     sepal_length  sepal_width  petal_width        class
5.1           3.5          1.4          0.2  Iris-setosa
4.9           3.0          1.4          0.2  Iris-setosa
4.7           3.2          1.3          0.2  Iris-setosa
4.6           3.1          1.5          0.2  Iris-setosa
5.0           3.6          1.4          0.2  Iris-setosa
5.4           3.9          1.7          0.4  Iris-setosa
4.6           3.4          1.4          0.3  Iris-setosa
5.0           3.4          1.5          0.2  Iris-setosa
4.4           2.9          1.4          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
5.4           3.7          1.5          NaN  Iris-setosa
4.8           3.4          1.6          NaN  Iris-setosa
4.8           3.0          1.4          NaN  Iris-setosa
4.3           3.0          1.1          NaN  Iris-setosa
5.8           4.0          1.2          NaN  Iris-setosa
5.7           4.4          1.5          NaN  Iris-setosa
5.4           3.9          1.3          NaN  Iris-setosa
5.1           3.5          1.4          NaN  Iris-setosa
5.7           3.8          1.7          NaN  Iris-setosa
5.1           3.8          1.5          NaN  Iris-setosa
5.4           3.4          1.7          NaN  Iris-setosa
5.1           3.7          1.5          NaN  Iris-setosa
4.6           3.6          1.0          NaN  Iris-setosa
5.1           3.3          1.7          NaN  Iris-setosa
4.8           3.4          1.9          NaN  Iris-setosa
5.0           3.0          1.6          NaN  Iris-setosa
5.0           3.4          1.6          NaN  Iris-setosa
5.2           3.5          1.5          NaN  Iris-setosa
5.2           3.4          1.4          NaN  Iris-setosa
4.7           3.2          1.6          NaN  Iris-setosa
4.8           3.1          1.6          0.2  Iris-setosa
5.4           3.4          1.5          0.4  Iris-setosa
5.2           4.1          1.5          0.1  Iris-setosa
5.5           4.2          1.4          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
5.0           3.2          1.2          0.2  Iris-setosa
5.5           3.5          1.3          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
4.4           3.0          1.3          0.2  Iris-setosa
5.1           3.4          1.5          0.2  Iris-setosa

In [0]:
# Reset the index so it begins with 0 again.
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
flower.dropna(axis=0, inplace=True)
flower.head(n=40)

     sepal_length  sepal_width  petal_width        class
5.1           3.5          1.4          0.2  Iris-setosa
4.9           3.0          1.4          0.2  Iris-setosa
4.7           3.2          1.3          0.2  Iris-setosa
4.6           3.1          1.5          0.2  Iris-setosa
5.0           3.6          1.4          0.2  Iris-setosa
5.4           3.9          1.7          0.4  Iris-setosa
4.6           3.4          1.4          0.3  Iris-setosa
5.0           3.4          1.5          0.2  Iris-setosa
4.4           2.9          1.4          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
5.4           3.7          1.5          0.2  Iris-setosa
4.8           3.4          1.6          0.2  Iris-setosa
4.8           3.0          1.4          0.1  Iris-setosa
4.3           3.0          1.1          0.1  Iris-setosa
5.8           4.0          1.2          0.2  Iris-setosa
5.7           4.4          1.5          0.4  Iris-setosa
5.4           3.9          1.3          0.4  Iris-setosa
5.1           3.5          1.4          0.3  Iris-setosa
5.7           3.8          1.7          0.3  Iris-setosa
5.1           3.8          1.5          0.3  Iris-setosa
5.4           3.4          1.7          0.2  Iris-setosa
5.1           3.7          1.5          0.4  Iris-setosa
4.6           3.6          1.0          0.2  Iris-setosa
5.1           3.3          1.7          0.5  Iris-setosa
4.8           3.4          1.9          0.2  Iris-setosa
5.0           3.0          1.6          0.2  Iris-setosa
5.0           3.4          1.6          0.4  Iris-setosa
5.2           3.5          1.5          0.2  Iris-setosa
5.2           3.4          1.4          0.2  Iris-setosa
4.7           3.2          1.6          0.2  Iris-setosa
4.8           3.1          1.6          0.2  Iris-setosa
5.4           3.4          1.5          0.4  Iris-setosa
5.2           4.1          1.5          0.1  Iris-setosa
5.5           4.2          1.4          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
5.0           3.2          1.2          0.2  Iris-setosa
5.5           3.5          1.3          0.2  Iris-setosa
4.9           3.1          1.5          0.1  Iris-setosa
4.4           3.0          1.3          0.2  Iris-setosa
5.1           3.4          1.5          0.2  Iris-setosa

In [0]:
import numpy as np
import pandas as pd
flower = pd.read_csv("https://bit.ly/1N5br3h",sep=',' , names=['sepal_length','sepal_width','petal_width', 'class'])
flower
flower = flower.reset_index()
del flower['index']
flower

     sepal_length  sepal_width  petal_width           class
0             3.5          1.4          0.2     Iris-setosa
1             3.0          1.4          0.2     Iris-setosa
2             3.2          1.3          0.2     Iris-setosa
3             3.1          1.5          0.2     Iris-setosa
4             3.6          1.4          0.2     Iris-setosa
..            ...          ...          ...             ...
145           3.0          5.2          2.3  Iris-virginica
146           2.5          5.0          1.9  Iris-virginica
147           3.0          5.2          2.0  Iris-virginica
148           3.4          5.4          2.3  Iris-virginica
149           3.0          5.1          1.8  Iris-virginica

[150 rows x 4 columns]

**Lab 4**

DataSet: https://bit.ly/2CudMVh
1. Assign it to a variable called drinks.
2. Which continent drinks more beer on average?
3. For each continent print the statistics for wine consumption.
4. Display the mean alcohol consumption per continent for every column.
5. Display the median alcohol consumption per continent for every column.
6. Display the mean, min and max values for spirit consumption.

In [0]:
# Creating a data frame
import pandas as pd
df = pd.DataFrame({'a': [1,2,3], 'b': [4,5,6], 'c': [7,8,9]})
print(df)

   a  b  c
0  1  4  7
1  2  5  8
2  3  6  9

In [0]:
df = pd.DataFrame(
    data=np.random.randn(3,3),
    columns=['d','a','b']
)

In [0]:
df.sort_index(axis=1)

          a         b         d
0 -0.651985  0.089579  0.360462
1 -0.107189 -0.240858  1.008377
2  0.158256  0.394584  0.491543

In [0]:
# Assign it to a variable called drinks.
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)

                     country  ...  continent
0                Afghanistan  ...         AS
1                    Albania  ...         EU
2                    Algeria  ...         AF
3                    Andorra  ...         EU
4                     Angola  ...         AF
5          Antigua & Barbuda  ...        NaN
6                  Argentina  ...         SA
7                    Armenia  ...         EU
8                  Australia  ...         OC
9                    Austria  ...         EU
10                Azerbaijan  ...         EU
11                   Bahamas  ...        NaN
12                   Bahrain  ...         AS
13                Bangladesh  ...         AS
14                  Barbados  ...        NaN
15                   Belarus  ...         EU
16                   Belgium  ...         EU
17                    Belize  ...        NaN
18                     Benin  ...         AF
19                    Bhutan  ...         AS
20                   Bolivia  ...         SA
21        Bosnia-Herzegovina  ...         EU
22                  Botswana  ...         AF
23                    Brazil  ...         SA
24                    Brunei  ...         AS
25                  Bulgaria  ...         EU
26              Burkina Faso  ...         AF
27                   Burundi  ...         AF
28             Cote d'Ivoire  ...         AF
29                Cabo Verde  ...         AF
30                  Cambodia  ...         AS
31                  Cameroon  ...         AF
32                    Canada  ...        NaN
33  Central African Republic  ...         AF
34                      Chad  ...         AF
35                     Chile  ...         SA
36                     China  ...         AS
37                  Colombia  ...         SA
38                   Comoros  ...         AF
39                     Congo  ...         AF
40              Cook Islands  ...         OC
41                Costa Rica  ...        NaN
42                   Croatia  ...         EU
43                      Cuba  ...        NaN
44                    Cyprus  ...         EU
45            Czech Republic  ...         EU
46               North Korea  ...         AS
47                  DR Congo  ...         AF
48                   Denmark  ...         EU
49                  Djibouti  ...         AF
50                  Dominica  ...        NaN
51        Dominican Republic  ...        NaN
52                   Ecuador  ...         SA
53                     Egypt  ...         AF
54               El Salvador  ...        NaN
55         Equatorial Guinea  ...         AF
56                   Eritrea  ...         AF
57                   Estonia  ...         EU
58                  Ethiopia  ...         AF
59                      Fiji  ...         OC

[60 rows x 6 columns]

In [0]:
# Which continent drinks more beer on average?
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
more_avg_beer=drinks.groupby('continent').beer_servings.mean()
more_avg_beer.head(1)

continent
AF    61.471698
Name: beer_servings, dtype: float64

In [0]:
# For each continent print the statistics for wine consumption.
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.groupby('continent').wine_servings.mean()

continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [0]:
# Display the mean alcohol consumption per continent for every column.
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.groupby('continent').total_litres_of_pure_alcohol.mean()

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [0]:
# Display the median alcohol consumption per continent for every column.
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.groupby('continent').total_litres_of_pure_alcohol.median()

continent
AF     2.30
AS     1.20
EU    10.00
OC     1.75
SA     6.85
Name: total_litres_of_pure_alcohol, dtype: float64

In [0]:
# Display the mean, min and max values for spirit consumption.
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.spirit_servings.mean()

80.99481865284974

In [0]:
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.spirit_servings.min(axis=0)

0

In [0]:
import pandas as pd
drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv",sep=',' )
drinks.head(60)
drinks.spirit_servings.max(axis=0)

438